* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-image: url('../public/ep0d7H.jpg');
}

h1 {
  font-family: 'Rouge Script', cursive;
  margin-top: 0 !important;
  font-size: 50px !important;
  color: lightgray;
  font-weight: 500 !important;
  
}

h2 {
  font-family: 'Rouge Script', cursive;
  margin-top: 0 !important;
  font-size: 40px !important;
  color: whitesmoke;
  font-weight: 500 !important;
}

h3 {
  font-family: 'Rouge Script';
  margin-top: 0 !important;
  font-size: 30px !important;
  color: whitesmoke;
  font-weight: 500 !important;
  font-style: italic;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

p {
  font-size: 20px;
  color: lightgrey;
  font-style: italic;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.button-common {
  height: 50px;
  width: 200px;
  background-color: rgba(211, 211, 211, 0.689);
  margin-top: 10px;
  border-color: black;
  border-style: solid;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-common:hover {
  background-color: #00000085;
  color: white;
  border-width: 0px;
}