.hexagon-container {
    position: relative;
    width: fit-content;
}
  
.hexagon-border {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.hexagon-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(
        0% 50%, 
        25% 0%, 
        75% 0%, 
        100% 50%,
        75% 100%,
        25% 100%
    );
    background-color: #505050;
    box-sizing: border-box;
}

.outer.hexagon-border {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
}

.outer.hexagon-border::before {
    background-color: transparent;
    background: radial-gradient(circle at center, black 0%, black 30%, white 100%);
}

.board-odd {
    padding: 15px;
    margin-left: 20px;
    margin-right: -20px;
}

.board-even {
    padding: 15px;
    margin-left: -20px;
    margin-right: 20px;
}

.hexagon {
    position: relative;
    border: 1px solid;
    width: 75px;
    height: 43px; /* height is approximately width * 0.577 for regular hexagon */
    background-color: #B0B0B0;
    margin: 21.5px 0; /* margin top and bottom is height/2 */
    display: inline-block;
    margin-right: -1px;
    border-color: #505050;
  }
  
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 37.5px solid transparent; /* width/2 */
    border-right: 37.5px solid transparent; /* width/2 */
    left: 0;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 21.5px solid #B0B0B0; /* height/2 */
}

.hexagon:after {
    top: 100%;
    border-top: 21.5px solid #B0B0B0; /* height/2 */
}

.transparent.hexagon {
    background-color: transparent;
    border: 0px solid;
}

.transparent.hexagon:before {
    border-bottom-color: transparent;
}

.transparent.hexagon:after {
    border-top-color: transparent;
}

.dark.hexagon {
    background-color: #caa671;
    border: 1px solid;
}

.dark.hexagon:before {
    border-bottom-color: #caa671;
}

.dark.hexagon:after {
    border-top-color: #caa671;
}

.light.hexagon {
    background-color: #c5bda3;
    border: 1px solid;
    
}

.light.hexagon:before {
    border-bottom-color: #c5bda3;
}

.light.hexagon:after {
    border-top-color: #c5bda3;
}

.offset-hor{
    margin-left: 37.5px;
    margin-top: -21.5px;
}

.offset-ver{
    margin-top: -21.5px;
}

.piece {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px;
    border-radius: 50%;
    align-items: center;
}

.piece-black {
    background-color: rgb(25, 25, 25);
}

.piece-white {
    background-color: white;
}

.trans {
    background-color: transparent;
}

.piece-black-selected {
    background-color: transparent;
    background: radial-gradient(#B0B0B0, black);
}

.piece-white-selected {
    background-color: transparent;
    background: radial-gradient(#B0B0B0, white);
}

.box-abalone {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    border: 0px;
}

.info-life {
    width: 150px;
    text-align: center;
    background-color: #505050;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 30px;

    border: 3px;
    border-style:solid;
    border-color:black;
}